/codigos/.idea/.*
/codigos/.idea/*
/codigos/in-dev/vtk/*
/codigos/in-dev/exemplos/*
/codigos/in-dev/temp/*.vtk
/codigos/in-dev/vortex/results/*
/codigos/in-dev/streamVorticity/plane/results/*
/codigos/in-dev/streamVorticity/degrau/results/*
/codigos/in-dev/streamVorticity/liDriven/results/*
/codigos/in-dev/streamVorticity/liDriven/results/
/codigos/in-dev/streamVorticity/poiseuille/results/*
/codigos/in-dev/streamVorticity/stream-vort.tar.gz
/codigos/in-dev/flowTemp/results/*.vtk
/codigos/in-dev/flowTemp/results/
/home/luis/tcc/codigos/in-dev/temp/results/*
/codigos/in-dev/temp/diffK/results/*
/codigos/in-dev/temp/diffK/results/
/codigos/in-dev/temp/validation/results/*
/codigos/in-dev/temp/validation/results/
/codigos/in-dev/conjugatedHeat/results/*
/codigos/in-dev/conjugatedHeat/results/
/codigos/in-dev/semi-lagrangean/results/
/codigos/in-dev/semi-lagrangean/results/*

/codigos/in-dev/temp/results/*


